<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Home/style.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div id="weather">

    </div>

    <div id="chat">

    </div>

    <div id="todo">

    </div>

    <div id="logout-mode">
        <div id="logout">
            <p><i class="fas fa-user" id="logout-img"></i> logout </p>
        </div>
    
        <div id="mode">
            <i class="fas fa-sun" id="mode-img" ></i>
        </div>
    </div>
    

    <div id="music">

    </div>

    
    
    <div id="rating">

    </div>

    <div id="time">

    </div>
    
    
    
</body>
<script src="{% static 'Home/script.js' %}"></script>   
</html>